* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

@media (max-width: 768px) {
    body {
        /* font-size: 1.2rem; /
        / line-height: 1em !important; */
        font-size: 1rem;
    }

}

.topnav {
    overflow: hidden;
    background-color: rgb(113, 30, 182);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

body {
    background-color: azure;
}

header {
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blueviolet;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 60px;
}

header nav {
    padding-top: 15px;
    margin-left: 100px;
    float: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 50px;
}

header nav ul p {
    display: flow-root;
    margin-left: 190px;
    height: 100px;
}

.header {
    height: 500px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("https://github.com/Salvador94Chava/Salvador-s-Portfolio/blob/main/css/Images/what-is-coding-1024x683.jpg?raw=true");
    background-size: cover;
    background-position: center;
    position: relative;
}


.image-button {
    /* filter: blur(4px); */
    border: rgb(112, 112, 216) 4px solid;
    opacity: 0.8;
    background-color: #008CBA;
    object-fit: contain;
    height: 100%;
    width: 100%;
}


.image-button:hover {
    /* filter: blur(0px); */
    transition: all 0.5s ease-in-out;
    border: rgb(216, 112, 152) 4px solid;
    opacity: 1;
    border-radius: 8px;
    /* transition: .5s ease; */

}

.text-image-bottom-right {
    position: absolute;
    bottom: 60px;
    right: 50px;
    font-size: 50px;
    color: #e9ec10;
    background-color: black;
    padding: 8px;
}

.image-text-container {
    position: relative;
    /* text-align: center; */

}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.image-container {
    margin: 0 auto;
    padding: 22px;
    max-width: 800px;

}

.service {
    margin-bottom: 30px;
    padding: 80px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a9afb1;
    color: #000000;
    font-size: 1em;
}

.service img {
    max-height: 230px;
    float: right;
    margin: auto;
    border: 10px solid transparent;
    padding: 15px;
}

.work {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: black;
    padding: 50px;
    height: auto;
    background-color: rgb(233, 221, 52);
    margin-bottom: 20px;
}

.float-right {
    float: right;
    margin: 25px;
    max-width: 500px;
    padding: 0%;
}

.wrapper {
    margin-top: auto;
}

.social-media {
    position: -webkit-sticky;
    top: 100%;
    left: 100%;
    /* background-color: rgb(177, 72, 226); */
    transition: all 0.5s ease-in-out;
    border-radius: 8px;
    transform: scale(.9)
        /* transform: translate(-53%, -50%); */

}

.social-media:hover,
.social-media:hover {
    box-shadow: inset 0px 0px 8px rgb(177, 72, 226), 0px 0px 15px rgb(201, 117, 240);
}

li {
    list-style: none;
    margin: 10px 30px;
    display: inline-flex;
    font-size: 45px;
    padding: 30px 30px;
    color: #fff;
    border: 1px solid gold;
    border-radius: 50%;
    transition: .5s;


}

li:hover {
    color: #e9ec10;
    border: 5px solid #e9ec10;
    transition: .5s;
}

.footer {
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10%;
}

.glow {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    transform: scale(.9);
    z-index: -1;
}

.glow:hover,
.glow:hover {
    box-shadow: inset 0px 0px 8px rgb(121, 205, 211), 0 0 15px rgb(166, 231, 247);
    text-shadow: 0 0 15px rgb(121, 205, 211), 0 0 15px rgb(166, 231, 247);
}